<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pundit Tracker</title>

    <!--TODO add favicon-->
    <!--TODO check if this is the best relative path-->
    <!-- <link rel="shortcut icon" href="../public/images/favicon.ico"> -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--TODO check if this is the best relative path-->
    <link rel="stylesheet" href="../public/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <!--TODO check if this is the best relative path-->
    <script src="../public/scripts/app.js"></script>
  </head>

  <body>
    <h1>Pundit Tracker</h1>
  </body>
</html>
