<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pundit Tracker</title>

    <!--TODO add favicon-->
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h2>Pundit tracker</h2>
      <button type="button" class="btn btn-primary" id="openModal">Submit a prediction</button>
      <!-- TODO insert modal -->
      </div>

      <div class="row">
      <div class="col-md-5">
        <h3>PAST PREDICTIONS</h3>
        <div id="targetPast"></div>
      </div>

      <div class="col-md-7">
        <h3>FUTURE PREDICTIONS</h3>
        <div id="targetFuture"></div>
      </div>
    </div>

    </div>
  </body>
</html>
