.predictionColumn {
  border: black 4px dotted;
  padding: 20px;
  margin-top: 10px
}
#about {
  font-size: 19px
}
.container {
  margin-top: 20px;
  margin-bottom: 20px
}
img {
  width: 30px;
  height: 30px
}
.isTrue {
  color: green
}
.isFalse {
  color: red
}
.isComplicated {
  color: blue
}
